.stack__card {
  background-color: #d0e3c4;
  width: 93%;
  height: 50%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px #000;
}

.stack__title {
  text-align: center;
  margin: 0;
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: 30px;
}

.stack__icon {
  height: 30px;
  cursor: pointer;
  transition: scale .3s ease;
}

.stack__icon_new-card {
  position: absolute;
  left: 3%;
  top: 60px;
}

.stack__icon_back-button {
  position: absolute;
  right: 1%;
  top: 1%;
}

.stack__icon:hover{
  scale: 1.1;
}

.stack__container {
  position: relative;
  height: 89%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stack__question {
  font-size: 30px;
  font-weight: normal;
}

.stack__bar {
  width: 93%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 10px;
}

.stack__status {
  text-align: center;
}

.stack__bar_center-controls {
  text-align: center;
  display: flex;
  align-items: center;
}

.stack__bar_controls {
  position: absolute;
  right: 0;
}

.stack__icon_flip, .stack__icon_fullscreen {
  margin-left: 15px;
}

.stack__icon_previous-card {
  margin-right: 15px;
}

.stack__icon_next-card {
  margin-left: 15px;
}

.stack__answer {
  font-size: 20px;
  padding: 10px;
  line-height: 1.3;
}